.header{
 text-align: center;
}
.userInfo{
 display: flex;
 justify-content: flex-end;
 margin-bottom: 1rem;
}
.userAva{
 align-self: flex-start;
 border-radius: 50%;
 border: 5px solid rgb(130, 178, 34);
 width: 50px;
 height: 50px;
 overflow: hidden;
}
.ava{
width: 100%;
}
